## **PDSA Week 1**

---

### ***PPA 1***

Twin primes are pairs of prime numbers that differ by 2. For example (3, 5), (5, 7), and (11,13) are twin primes. Write a function Twin_Primes(n, m) where n and m are positive integers and n < m , that returns all unique twin primes between m and n (both inclusive). The function returns a list of tuples and each tuple (a,b) represents one unique twin prime where n <= a < b <= m

In [ ]:
def is_prime(a):
    dividers = []
    if a in [0, 1]:
        return False
    if a == 2:
        return True
    for i in range (2, a):
        if a % i == 0:
            dividers.append(i)
    if dividers:
        return False
    else:
        return True

In [ ]:
def Twin_Primes(n, m):
    tplist = []
    for a in range (n, m-1):
        if is_prime(a) and is_prime(a+2):
            tplist.append((a, a+2))
    return tplist

In [ ]:
print(Twin_Primes(1, 10))

[(3, 5), (5, 7)]

### ***PPA 2***

Create a Triangle Class with is_Valid(), Side_Classification(), Angle_Classification() and Area() methods. A Triangle is valid only if sum of any two sides of it is greater than the 3rd side.

In [ ]:
import math

In [ ]:
class Triangle:
    def __init__(self, a, b, c):
        self.a = a
        self.b = b
        self.c = c

    def is_valid(self):
        a = self.a
        b = self.b
        c = self.c
        if a + b > c and b + c > a and c + a > b:
            return 'Valid'
        else:
            return 'Invalid'
    
    def Side_Classification(self):
        if self.is_valid() == 'Invalid':
            return 'Invalid'
        a = self.a
        b = self.b
        c = self.c
        if a == b == c:
            return 'Equilateral'
        if (a == b and a != c) or (a == c and a != b) or (b == c and b != a):
            return 'Isosceles'
        if a != b and a != c:
            return 'Scalene'
    
    def Angle_Classification(self):
        if self.is_valid() == 'Invalid':
            return 'Invalid'
        l = [self.a, self.b, self.c]
        l.sort()
        lval = l[0]*l[0] + l[1]*l[1]
        rval = l[2]*l[2]
        if lval > rval:
            return 'Acute'
        if lval == rval:
            return 'Right'
        if lval < rval:
            return 'Obtuse'
    
    def Area(self):
        if self.is_valid() == 'Invalid':
            return 'Invalid'
        s = (self.a + self.b + self.c) / 2
        return math.sqrt(s*(s-self.a)*(s-self.b)*(s-self.c))

In [ ]:
T1 = Triangle(1, 2, 3)
T2 = Triangle(3, 4, 5)
T3 = Triangle(4, 4, 3)

print("T1 is: ", T1.is_valid())
print("T2 is: ", T2.is_valid())
print("T3 is: ", T3.is_valid())

print("T1: Side:", T1.Side_Classification(), ", Angle:", T1.Angle_Classification(), ", Area:", T1.Area())
print("T2: Side:", T2.Side_Classification(), ", Angle:", T2.Angle_Classification(), ", Area:", T2.Area())
print("T3: Side:", T3.Side_Classification(), ", Angle:", T3.Angle_Classification(), ", Area:", T3.Area())

T1 is:  Invalid
T2 is:  Valid
T3 is:  Valid
T1: Side: Invalid , Angle: Invalid , Area: Invalid
T2: Side: Scalene , Angle: Right , Area: 6.0
T3: Side: Isosceles , Angle: Acute , Area: 5.562148865321747

### ***GrPA 1***

Write a function find_Min_Difference(l.p) where l is a list and p is +ve integer and less than size of l. The task is to pick "p" no of elements from the l in such a way that the difference between min and max value in the picked elements is lowest (for all possible p elements)

In [ ]:
def find_Min_Difference(l, p):
    l.sort()
    mindiff = -1
    for i in range (len(l) - p + 1):
        diff = l[i+p-1] - l[i]
        if diff < mindiff or mindiff == -1:
            mindiff = diff
    return mindiff

In [ ]:
l1 = [1,1,1,1,1,1,1,1,2,2,2,2]
l2 = [23, 12, 56, 34, 12, 32, 32,100, 1, 4, 6]

print(find_Min_Difference(l1, 8))
print(find_Min_Difference(l2, 4))

0
8

### ***GrPA 2***

Goldbach's conjecture: Every even number greater than 2 is a sum of 2 prime numbers. Write Goldbach(n) function that returns list of tuples where each tuple (a,b) is in such a way that a <= b and a and b are prime numbers and a+b = n.

In [ ]:
def is_prime(a):
    dividers = []
    if a in [0, 1]:
        return False
    if a == 2:
        return True
    for i in range (2, a):
        if a % i == 0:
            dividers.append(i)
    if dividers:
        return False
    else:
        return True

In [ ]:
def Goldbach(n):
    l = []
    for i in range(1,n):
        if i <= n-i and is_prime(i) and is_prime(n-i):
            print("add to list: ", i, n-i)
            l.append((i, n-i))
    return l

In [ ]:
print(Goldbach(10))
print(Goldbach(48))
print(Goldbach(26))

add to list:  3 7
add to list:  5 5
[(3, 7), (5, 5)]
add to list:  5 43
add to list:  7 41
add to list:  11 37
add to list:  17 31
add to list:  19 29
[(5, 43), (7, 41), (11, 37), (17, 31), (19, 29)]
add to list:  3 23
add to list:  7 19
add to list:  13 13
[(3, 23), (7, 19), (13, 13)]

### ***GrPA 3***

Write a function odd_one(l) where l is a list of items with basic data type (int, float, str or bool), but data type of one element alone is different from data type of all other elements. Find the odd element's data type and return it.

In [ ]:
def odd_one(l):
    odd = ""
    index = -1
    for i in range(len(l)):
        if i != 0 and i < len(l)-1:
            index = -1
            if type(l[0]) == type(l[i]) and type(l[i+1]) != type(l[0]):
                index = i+1
            elif type(l[0]) == type(l[i+1]) and type(l[i]) != type(l[0]):
                index = i
            elif type(l[0]) != type(l[i]) and type(l[0]) != type(l[i+1]):
                index = 0
            if index != -1:
                if type(l[index]) == int:
                    odd = "int"
                elif type(l[index]) == float:
                    odd = "float"
                elif type(l[index]) == str:
                    odd = "str"
                elif type(l[index]) == bool:
                    odd = "bool"
                break
    return odd

In [ ]:
l1 = [1, 3, 'ram', 2]
l2 = [1, 2.3, 3.3]
l3 = ['ra', True, 'r', 'ram']
l4 = [True, False, True, 4.3]

print(odd_one(l1))
print(odd_one(l2))
print(odd_one(l3))
print(odd_one(l4))

str
int
bool
float

### ***LC 1***

Write prime_product(m) function that returns True if m can be written as product of 2 prime numbers.

In [ ]:
def is_prime(a):
    dividers = []
    if a in [0, 1]:
        return False
    if a == 2:
        return True
    for i in range (2, a):
        if a % i == 0:
            dividers.append(i)
    if dividers:
        return False
    else:
        return True

def prime_product(m):
    if m <= 1:
        return False
    for i in range(2, m//2+1):
        j = m//i
        if is_prime(i) and is_prime(j) and i * j == m:
            return True
    return False

In [ ]:
print(prime_product(10))
print(prime_product(12))
print(prime_product(-2))
print(prime_product(0))
print(prime_product(1))
print(prime_product(2))

True
False
False
False
False
False

### ***LC 2***

Write del_char(s,c), where s is string and c is char, and the function should return s after removing all occurance of c. If c is more than one char in length, the function should return s unchanged.

In [ ]:
def del_char(s,c):
    if len(c) != 1:
        return s
    ns = s.replace(c, '')
    return ns

In [ ]:
print(del_char("Ramasamy", "a"))
print(del_char("Ramasamy", "Ra"))
print(del_char("Ramasamy", "b"))
print(del_char("R", "R"))

Rmsmy
Ramasamy
Ramasamy

### ***LC 3***

Write shuffle(l1, l2) that returns new list after taking one element from l1 and l2 each time. If a list becomes empty, it adds all the remaining elements in the non empty list to new list.

In [ ]:
def shuffle(l1, l2):
    len1 = len(l1)
    len2 = len(l2)
    m = min(len1, len2)
    nl = []
    for i in range(m):
        nl.append(l1.pop(0))
        nl.append(l2.pop(0))
    if len1 != len2:
        l = l2 if m == len1 else l1
        for i in range(len(l)):
            nl.append(l.pop(0))
    return nl

In [ ]:
print(shuffle([1,2,3], [4,5,6]))
print(shuffle([1,2], [3,4,5,6,7,8]))
print(shuffle([1,2,3,4], [9]))

### ***LC 4***

write expanding(l) where l is an integer list and absolute difference between each adjuscent pair of elements is in increasing order.

In [ ]:
def expanding(l):
    inc = True
    diff = 0
    for i in range(len(l)-1):
        prev = l[i]
        next = l[i+1]
        if diff < abs(prev-next):
            diff = abs(prev-next)
        else:
            inc = False
            break
    return inc

In [ ]:
print(expanding([1,3,7,2,9]))
print(expanding([1,3,7,2,-3]))
print(expanding([1,3,7,10]))

True
False
False

### ***LC 5***

Write sumsquare(l) that takes integer list and returns a list [sum_of_squared_of_odd, sum_of_squared_of_even]

In [ ]:
def sumsquare(l):
    odd = 0
    even = 0
    for i in range(len(l)):
        if l[i] % 2 == 0:
            even += l[i]**2
        else:
            odd += l[i]**2
    return [odd, even]

In [ ]:
print(sumsquare([1,3,5]))
print(sumsquare([-1,-2,3,7]))

[35, 0]
[59, 4]

### ***LC 6***

write histogram(l) where l is a list of integers and the function returns list of tuples where each tuple is a number in the list and no of time the number present in the list. Note: returned list sorted by repeated count first and then the item.

In [ ]:
def histogram(l):    
    d = {}
    nl = []
    for i in range(len(l)):
        if l[i] in d.keys():
            d[l[i]] += 1
        else:
            d[l[i]] = 1
    nl = sorted(d.items(), key = lambda x: (x[1], x[0]))
    return nl

In [ ]:
print(histogram([13,12,11,13,14,13,7,7,13,14,12]))
print(histogram([13,7,12,7,11,13,14,13,7,11,13,14,12,14,14,7]))
print(histogram([7,12,11,13,7,11,13,14,12]))

[(11, 1), (7, 2), (12, 2), (14, 2), (13, 4)]
[(11, 2), (12, 2), (7, 4), (13, 4), (14, 4)]
[(14, 1), (7, 2), (11, 2), (12, 2), (13, 2)]